
.nav-wrapper{
margin-left:300px;
}

.greeting-wrapper{
border:2px solid red;
float:left
}
.name{
font-size:43px;
font-weight:bold;
 color:grey;
}
.name_title{
font-size:18px;
margin-top:-40px;
margin-left:5px;
}


.navigation{
border:2px solid green;
float:left
}

.navigation ul{
list-style-type: none;
border:2px solid red;
margin-top:85px;
}

.navigation li{
display:inline-block;
border:2px solid blue;
padding:10px;
}

.navigation a:link {
  text-decoration: none;
}

.navigation a {
 color:grey;
 font-weight:bold;
}


.navigation a:hover {
 color:#00b3b3;
}

.navigation .active {
 color:#00b3b3;
}

